$main-color:#000;
$sec-color:#c0182a;
$dark-color:#333;
$gray-font:#b9b9b9;
$white-color:#fff;
$black-color:#000;
$bg-color: rgb(245, 245, 245);
$bg-color-no-op:rgba(232, 232, 232, 0.5);
$red-color:#e62525;
$shadow-color:#fff;
$border-color: rgb(206, 206, 206);
$main-font-family: 'Hind', sans-serif;
$sec-font-family:'Roboto',sans-serif;
$arabic-font: 'Tajawal', sans-serif;;
$new-arrival:#00d7d4;
$sale:#F8353E;
$special-offer:#fff828; 