$main-color:#b09433;
$sec-color:#232323;
$gray-color:#eee;
$third-color:#f1f1f1;
$fourth-color:#BBBDBF;
$five-color:#E6E7E8;
$dark-color:#212121;
$gray-font:#b9b9b9;

$white-color:#fff;
$black-color:#000;
$red-color:#e62525;

$bg-color: lighten($sec-color , 52%);
$bg-color-no-op:lighten($main-color , 80%);
 
$shadow-color:lighten($main-color , 50%);
$bg-step-color:lighten($sec-color , 50%);
$border-color: #e6e6e6;

$main-font-family: 'Hind',sans-serif;
$sec-font-family:'Roboto',sans-serif;
$arabic-font: 'Cairo', sans-serif;
 
$new-arrival:#00d7d4;
$sale:#F8353E;
$special-offer:#fff828; 
$sec-color-hover:#9e8423;