$main-color:#5f5f5f;
$sec-color:#d4d305;
$dark-color:#333;
$gray-font:#b9b9b9;
$white-color:#fff;
$black-color:#000;
$bg-color: rgba(211, 211, 5, .05);
$bg-color-no-op:#dcf5ee;
$red-color:#e62525;
$shadow-color:#f3f3d4;
$border-color:#e2e297;
$main-font-family: 'Hind', sans-serif;
$sec-font-family:'Roboto',sans-serif;
$arabic-font: 'Cairo',sans-serif;
$new-arrival:#00d7d4;
$sale:#F8353E;
$special-offer:#fff828;