.invoice-container{
    overflow: hidden;
    height: auto;
    width: 100%;
  
    min-width: 550px;
    display: block;
    margin: 0 auto;
    .container{
        border-radius: 5px;
        border: 1px solid #eee;
    }
    .title{
        overflow: hidden;
        height: auto;
        width: 100%;
        padding: 15px;
        display: flex;
        border-bottom: 0;
        h1{
            color: #000;
            font-weight: bold;
            font-size: 1.6rem;
            text-transform:capitalize;
            border-bottom: 0;
            margin-bottom: 0;
            padding: 0;
            display: inline-flex;
            flex-grow: 1;

        }
        .button{
            display: inline-flex;
            flex-grow: 0;
            align-items: center;
            justify-content: center;
            max-width: 140px;
            svg{
                fill: #fff;
                width: 25px;
                margin: 0 5px;
                margin-left: 0;
                height: 25px;
            }
        }
    }
    .border-bottom{
        overflow: hidden;
        border-bottom: 1px solid #eee;
    }
    .info-inv{
        display: flex;
    }
    .invoice-logo{
        overflow: hidden;
        height: 100%;
        max-height: 240px;
        align-items: center;
        justify-content: center;
        width: 100%;
        display: flex;
        padding: 15px;
        border-right: 1px solid #eee;
        img{
            max-width: 260px;
            display: block;

        }
    }
    .cell{
        overflow: hidden;
        height: auto;
        width: 100%;
        display: block;
        padding: 10px;
        border-bottom: 1px solid #eee;
        &:last-child{
            border-bottom: none;
        }
        span{
            &:nth-child(1){
                font-weight: bold;
                color: #000;
                font-size: 1rem;
            }
            &:nth-child(2){
                color: $dark-color;
                font-size: .9rem;
            }
        }
    }
    .info-table{
        overflow: hidden;
        height: auto;
        width: 100%;
        display: block;
        .table{
            margin-bottom: 0;
            color: $dark-color;
            font-weight: normal;
        }
        .header-table{
            background: $main-color;
            color: #fff;
        }
        .bg-total{
            background: rgba(168,168,168,21%);
            font-weight: bold;  
            font-size: 1.1rem;
        }
    }
}